:root {
  --pink: #fbc2eb;
  --purple: #a18cd1;
  --gray: #adadad;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Ubuntu';
}
body {
  background: linear-gradient(to top, var(--purple) 0%, var(--pink) 100%);
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--white);
}
